escenarios/escenario-3.json
{
    "name": "Enviar reporte ejecutivo de horas",
    "flow": [
        {
            "id": 20,
            "module": "google-sheets:getSheetContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5857090
            },
            "mapper": {
                "from": "drive",
                "range": "A1:F",
                "select": "list",
                "sheetId": "Hoja 1",
                "spreadsheetId": "/1cvTsm1pGW-0fjQv-QRcFn-dALpap-tH1ZvErtVyM7uA",
                "tableFirstRow": "A1:G1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -250,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Hoja 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "control-hora"
                            ]
                        },
                        "includesHeaders": {
                            "mode": "chose"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (miguelozanodev@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Fecha (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Día (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Horas Programadas (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Horas Realizadas (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Total Horas Extra (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Observaciones (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Total Horas Pendietes (G)"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 54541
            },
            "mapper": {
                "key": "last_prompt",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 29,
                    "y": -6
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "tg_last_prompt"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "id",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "message_id",
                        "type": "number",
                        "label": null,
                        "default": null,
                        "required": true
                    },
                    {
                        "help": "",
                        "name": "created_at",
                        "type": "date",
                        "label": null,
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 20,
                                "rowSeparator": ""
                            },
                            "filter": {
                                "name": "Solo datos",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{20.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "value": "<tr>\r\n  <td>{{20.`0`}}</td>\r\n  <td>{{20.`1`}}</td>\r\n  <td>{{20.`2`}}</td>\r\n  <td>{{20.`3`}}</td>\r\n  <td>{{20.`4`}}</td>\n  <td>{{20.`5`}}</td>\n</tr>\r\n"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [20]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 5857090
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "I2:L2",
                                "select": "list",
                                "sheetId": "Hoja 1",
                                "spreadsheetId": "/1cvTsm1pGW-0fjQv-QRcFn-dALpap-tH1ZvErtVyM7uA",
                                "tableFirstRow": "I1:L1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 979,
                                    "y": -151
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Hoja 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "control-hora"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (miguelozanodev@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "text",
                                        "label": "Row with headers"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Total horas programadas (I)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Total horas hechas (J)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Total horas extras (K)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Total horas pendientes (L)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 19,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "fecha_reporte",
                                        "value": "{{formatDate(now; \"DD/MM/YYYY HH:mm\"; \"America/Bogota\")}}"
                                    },
                                    {
                                        "name": "total_programadas",
                                        "value": "{{21.`0`}}"
                                    },
                                    {
                                        "name": "total_realizadas",
                                        "value": "{{21.`1`}}"
                                    },
                                    {
                                        "name": "total_extra",
                                        "value": "{{21.`2`}}"
                                    },
                                    {
                                        "name": "total_pendientes",
                                        "value": "{{21.`3`}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1408,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "fecha_reporte",
                                        "type": "any",
                                        "label": "fecha_reporte"
                                    },
                                    {
                                        "name": "total_programadas",
                                        "type": "any",
                                        "label": "total_programadas"
                                    },
                                    {
                                        "name": "total_realizadas",
                                        "type": "any",
                                        "label": "total_realizadas"
                                    },
                                    {
                                        "name": "total_extra",
                                        "type": "any",
                                        "label": "total_extra"
                                    },
                                    {
                                        "name": "total_pendientes",
                                        "type": "any",
                                        "label": "total_pendientes"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "google-docs:createADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5857090
                            },
                            "mapper": {
                                "name": "Reporte",
                                "footer": false,
                                "header": false,
                                "content": "<html>\r\n  <head>\r\n    <meta charset=\"utf-8\" />\r\n    <title>Reporte Ejecutivo de Horas</title>\n<style>\r\n  body {\r\n    font-family: 'Arial', sans-serif;\r\n    color: #333;\r\n    margin: 30px;\r\n  }\r\n  h1 {\r\n    color: #0056b3;\r\n    border-bottom: 2px solid #0056b3;\r\n    padding-bottom: 5px;\r\n  }\r\n  table {\r\n    width: 100%;\r\n    border-collapse: collapse;\r\n    margin-top: 20px;\r\n  }\r\n  th {\r\n    background-color: #f0f4f8;\r\n    color: #222;\r\n    padding: 10px;\r\n    border: 1px solid #ccc;\r\n  }\r\n  td {\r\n    padding: 8px;\r\n    border: 1px solid #ccc;\r\n    text-align: center;\r\n  }\r\n  tr:nth-child(even) {\r\n    background-color: #fafafa;\r\n  }\r\n</style>\r\n\n  </head>\r\n  <body>\r\n    <h1>Reporte Ejecutivo de Horas</h1>\r\n    <p>Generado: {{19.fecha_reporte}}</p>\r\n\r\n    <h2>Totales</h2>\r\n    <p>Horas Programadas: {{19.total_programadas}}<br/>\r\n       Horas Realizadas: {{19.total_realizadas}}<br/>\r\n       Horas Extra: {{19.total_extra}}<br/>\r\n       Horas Pendiente: {{19.total_pendientes}}</p>\r\n\r\n    <h2>Detalle</h2>\r\n    <table>\r\n      <thead>\r\n        <tr>\r\n          <th>Fecha</th>\r\n          <th>Día</th>\r\n          <th>Programadas</th>\r\n          <th>Realizadas</th>\r\n          <th>Extra</th>\r\n          <th>Observación</th>\r\n        </tr>\r\n      </thead>\r\n      <tbody>\r\n        {{9.text}}\n      </tbody>\r\n    </table>\r\n  </body>\r\n</html>\r\n",
                                "folderId": "/1CkCQNpnTOjxhHIBKpuVBgyMmgHv5sYxP",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1824,
                                    "y": -154
                                },
                                "restore": {
                                    "expect": {
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "REPORTE HORAS"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (miguelozanodev@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "header",
                                        "type": "boolean",
                                        "label": "Insert a Header",
                                        "required": true
                                    },
                                    {
                                        "name": "footer",
                                        "type": "boolean",
                                        "label": "Insert a Footer",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "google-docs:exportADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5857090
                            },
                            "mapper": {
                                "document": "{{25.id}}",
                                "mimeType": "application/pdf",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2231,
                                    "y": -159
                                },
                                "restore": {
                                    "expect": {
                                        "document": {
                                            "mode": "edit",
                                            "path": []
                                        },
                                        "mimeType": {
                                            "mode": "chose",
                                            "label": "PDF Document (.pdf)"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (miguelozanodev@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "mimeType",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                                "application/vnd.oasis.opendocument.text",
                                                "application/rtf",
                                                "application/pdf",
                                                "text/plain",
                                                "text/html",
                                                "application/epub+zip"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "file",
                                        "label": "Document ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 26,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 5857758
                            },
                            "mapper": {
                                "to": [
                                    "miguelozanodev@gmail.com"
                                ],
                                "content": "<html>\r\n  <body style=\"font-family: Arial, sans-serif; color: #333; line-height: 1.5;\">\r\n    <h2 style=\"color: #0056b3;\">📊 Reporte Ejecutivo de Horas</h2>\r\n\r\n    <p>Hola Miguel 👋,</p>\r\n\r\n    <p>\r\n      Te comparto el reporte ejecutivo de horas correspondiente al día \r\n      <strong>{{formatDate(now; \"DD/MM/YYYY\"; \"America/Bogota\")}}</strong>.\r\n    </p>\r\n\r\n    <p>Resumen general:</p>\r\n    <ul>\r\n      <li><strong>Horas Programadas:</strong> {{19.total_programadas}}</li>\r\n      <li><strong>Horas Realizadas:</strong> {{19.total_realizadas}}</li>\r\n      <li><strong>Horas Extra:</strong> {{19.total_extra}}</li>\r\n      <li><strong>Horas Pendientes:</strong> {{19.total_pendientes}}</li>\r\n    </ul>\r\n\r\n    <p>\r\n      El detalle completo de la jornada se encuentra adjunto en formato PDF.\r\n    </p>\r\n\r\n    <p>\r\n      — <em>Reporte generado automáticamente el \r\n      {{formatDate(now; \"DD/MM/YYYY HH:mm\"; \"America/Bogota\")}}</em>\r\n    </p>\r\n\r\n    <hr />\r\n    <p style=\"font-size: 12px; color: #777;\">\r\n      Este es un mensaje automático. No respondas a este correo.  \r\n      Sistema de control de horas — Automatización Make\r\n    </p>\r\n  </body>\r\n</html>\r\n",
                                "subject": "Reporte Ejecutivo de Horas -{{19.fecha_reporte}}",
                                "bodyType": "rawHtml",
                                "attachments": [
                                    {
                                        "data": "{{22.data}}",
                                        "filename": "{{22.filename}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2586,
                                    "y": -160
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Raw HTML"
                                        },
                                        "attachments": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (miguelozanodev@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": false
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 27,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 5856653
                            },
                            "filter": {
                                "name": "No hay datos",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{20.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "📭 No se generó el reporte semanal.\r\nNo se encontraron registros nuevos en la hoja de control.\r\nFecha: {{formatDate(now; \"DD/MM/YYYY HH:mm A\")}}\r\nRevisa tu hoja.",
                                "chatId": "@ControlHorasSRBot",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "{{28.message_id}}",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}